$main-yellow: #ffdb00;
$main-black: #202020;
$main-gray: #535353;

@font-face {
    font-family: genjyuu-b;
    src: url(../font/GenJyuuGothic-Bold.ttf);
}

@font-face {
    font-family: genjyuu-m;
    src: url(../font/GenJyuuGothicL-Medium.ttf);
}

@font-face {
    font-family: logo-rounded;
    src: url(../font/Corporate-Logo-Rounded.ttf);
}

@font-face {
    font-family: skia;
    src: url(../font/Skia.ttf);
}

// 學經歷區塊樣式
@mixin sectionH3 {
    font-size: 3.5rem;
    color: $main-yellow;
    display: block;

    .line-y {
        display: inline-block;
        top: 20px;
        height: 1px;
        width: 160px;
        vertical-align: middle;
        background-color: $main-yellow;
    }

}

@mixin year {
    img {
        width: 100px;
    }

    margin-left: 20px;
}

@mixin bg-yellow {
    background-color: $main-yellow;
    display: inline-block;
    padding: 10px 30px;

    .place {
        margin-right: 10px;
    }

    .status {
        color: #fff;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    font-family: "genjyuu-m";
}

header {
    position: relative;

    .menu {
        position: absolute;
        top: 20px;
        left: 20px;
        height: 50px;
        width: 50px;
        z-index: 999;

        // 未完成：漢堡選單
        .menu-line {
            height: 3px;
            width: 40px;
            background-color: $main-yellow;

            &:nth-child(2) {
                margin-top: 10px;
            }

            &:nth-child(3) {
                margin-top: 10px;
            }

        }
    }

    .banner {
        background-image: url(../img/banner.png);
        background-size: cover;
        background-position: center;
        height: 1000px;
        position: relative;

        .banner-title {
            position: absolute;
            right: 50px;
            top: 600px;
            text-align: center;

            h1 {
                font-size: 100px;
                color: #fff;
            }

            .eng-name {
                font-size: 50px;
                color: #fff;

                .line {
                    display: inline-block;
                    top: 20px;
                    height: 1px;
                    width: 160px;
                    vertical-align: middle;
                    background-color: #fff;
                }
            }

            .job-title {
                font-size: 40px;
                color: $main-black;
                font-family: "logo-rounded";
                letter-spacing: 0.5px;
                text-shadow: #fff 1px 1px 3px;
            }
        }

    }

}

main {

    .row {
        justify-content: space-between;
        position: relative;
    }

    .section-title-r {
        transform: rotate(90deg);
        position: absolute;
        top: 150px;
        right: -100px;

        .h3 {
            @include sectionH3();
        }
    }

    .section-title-l {
        transform: rotate(90deg);
        position: absolute;
        top: 150px;
        left: -100px;

        .h3 {
            @include sectionH3();
        }
    }

    .year {
        @include year();
    }

    .bg-yellow {
        @include bg-yellow();
    }

    // 學經歷 #exp
    .row.exp {
        position: relative;

        .section-title-r {
            position: absolute;
            top: 150px;
            right: -100px;
        }

        .exp-list {
            position: relative;

            .exp-item {}

        }

    }

    // 工作技能 #skill
    .row.skill {
        flex-direction: row-reverse;

        .skill-item {
            display: flex;
            justify-content: space-between;

            .skill-list {}

        }

    }


    // 作品集 #works
    .row.works {
        display: block;
        position: relative;

    }

    // 聯絡我 #contact
    #contact {
        background-color: $main-yellow;
        
        .row.contact {
            position: relative;
            flex-direction: row-reverse;

            .section-title-l {

                .h3 {
                    color: #fff;

                    .line-y {
                        background-color: #fff;
                    }
                }

            }


        }
    }

}