$main-yellow: #ffdb00;
$main-black: #202020;
$main-gray: #535353;

@font-face {
    font-family: genjyuu-b;
    src: url(../font/GenJyuuGothic-Bold.ttf);
}

@font-face {
    font-family: genjyuu-m;
    src: url(../font/GenJyuuGothicL-Medium.ttf);
}

@font-face {
    font-family: logo-rounded;
    src: url(../font/Corporate-Logo-Rounded.ttf);
}

@font-face {
    font-family: skia;
    src: url(../font/Skia.ttf);
}

// 學經歷區塊樣式
@mixin sectionH3 {
    font-size: 3.5rem;
    color: $main-yellow;
    display: block;

    .line-y {
        display: inline-block;
        top: 20px;
        height: 1px;
        width: 160px;
        vertical-align: middle;
        background-color: $main-yellow;
    }

}

@mixin year {
    img {
        width: 100px;
    }

    margin-left: 20px;
}

@mixin bg-yellow {
    background-color: $main-yellow;
    display: inline-block;
    padding: 10px 30px;
    
    .status {
        margin-right: 10px;
        color: #fff;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    font-family: "genjyuu-m";
}

header {
    position: relative;

    .menu {
        position: absolute;
        top: 20px;
        left: 20px;
        height: 50px;
        width: 50px;
        z-index: 999;

        // 未完成：漢堡選單
        .menu-line {
            height: 3px;
            width: 40px;
            background-color: $main-yellow;

            &:nth-child(2) {
                margin-top: 10px;
            }

            &:nth-child(3) {
                margin-top: 10px;
            }

        }
    }

    .banner {
        position: relative;

        .banner-title {
            position: absolute;
            right: 30px;
            bottom: 90px;
            text-align: center;

        }

        .banner-bg{
            img{
                width: 100vw;
            }
        }

        h1 {
            font-size: 6rem;
            color: #fff;
        }

        .eng-name {
            font-size: 3rem;
            color: #fff;

            .line {
                display: inline-block;
                top: 20px;
                height: 1px;
                width: 160px;
                vertical-align: middle;
                background-color: #fff;
            }
        }

        .job-title {
            font-size: 40px;
            color: $main-black;
            font-family: "logo-rounded";
            letter-spacing: 0.5px;
            text-shadow: #fff 1px 1px 3px;
        }
    }

}


main {
    section {
        padding: 50px 0;
        margin-top: 30px;
    }

    .row {
        justify-content: space-between;
        position: relative;
    }

    .section-title-r {
        transform: rotate(90deg);
        position: absolute;
        top: 150px;
        right: -100px;

        .h3 {
            @include sectionH3();
        }
    }

    .section-title-l {
        transform: rotate(90deg);
        position: absolute;
        top: 150px;
        left: -150px;

        .h3 {
            @include sectionH3();
        }
    }

    .year {
        @include year();
    }

    .bg-yellow {
        @include bg-yellow();
        margin-bottom: 8px;
    }

    // 學經歷 #exp
    .row.exp {
        position: relative;

        .exp-list {
            position: relative;
            height: 450px;

            .exp-item {
                position: absolute;

                p{
                    display: inline-block;
                    margin-left: 20px;
                }

                ul{
                    margin-left: 30px;
                }

                &:nth-child(2){
                    top: 150px;
                    left: 200px;
                }

                &:nth-child(3){
                    top: 300px;
                    left: 380px;
                }
            }

        }

    }

    // 工作技能 #skill
    .row.skill {
        flex-direction: row-reverse;

        .h3 {
            .line-y {
                width: 100px;
            }
        }

        .skill-item {
            display: flex;
            justify-content: space-between;

            .skill-list {

                .title {
                    font-size: 1.2rem;
                    letter-spacing: 3px;
                    margin-bottom: 20px;
                    background: url(../img/bottom-line-y.svg) repeat-x center bottom;
                    background-size: .75rem;

                    &::after {
                        // content: '';
                        // margin-top: -0.7rem;
                    }
                }

                .skill-icon {
                    margin-left: -10px;

                    img {
                        width: 70px;
                        margin: 10px;
                    }
                }

                .skill-txt {
                    margin-top: 30px;

                    span {
                        img {
                            width: 30px;
                        }
                    }
                }
            }

        }

    }


    // 作品集 #works
    .row.works {
        position: relative;
        margin-bottom: 100px;

        .works-list {

            .filter {
                font-size: 1.2rem;

                ul {
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    text-align: center;

                    li {
                        padding: 0 30px;

                        &.active{
                            &::after{
                                content: '';
                                background-image: url(../img/bottom-line-y.svg);
                                width: 150%;
                                height: 10px;
                                display: block;
                                margin-top: -0.5rem;
                                margin-left: -30px;
                            }
                        }
                    }
                }

            }

            .my-works {
                display: flex;
                flex-flow: row;
                justify-content: space-between;

                .work {
                    margin: 30px auto;

                    .work-item {
                        position: relative;

                        &:hover{
                            .hover{
                                display: block;
                            }
                        }

                        .hover {
                            display: none;

                            .details{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-color: #ffdb0080;
                                color: #fff;
                                display: flex;
                                flex-flow: column;
                                justify-content: center;
                                line-height: 2rem;

                                .cata{

                                    &::after{
                                        content: '';
                                        height: 1px;
                                        width: 80%;
                                        background-color: #fff;
                                        display: block;
                                        margin: 0 auto;

                                    }
                                }
                            }
                        }

                        img {
                            width: 100%;
                        }

                    }

                }
            }
        }

    }

    // 聯絡我 #contact
    #contact {
        background-color: $main-yellow;
        position: relative;
        height: 700px;
        width: 100vw;

        &::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 100px 100vw;
            border-color: transparent transparent #ffdb00 transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: rgb(255, 219, 0);
            border-left-color: transparent;
            position: absolute;
            left: 0;
            top: -100px;
        }

        .row.contact {
            position: relative;
            flex-direction: row-reverse;

            .section-title-l {

                .h3 {
                    color: #fff;

                    .line-y {
                        background-color: #fff;
                    }
                }

            }
        }

        .contact-info {
            display: flex;
            flex-flow: row;
            justify-content: space-between;


            .info {
                color: #fff;
                font-size: 1.2rem;
                
                .my-name{
                    font-size: 1.8rem;
                    margin-right: 10px;
                }

                a {
                    color: #fff;
                }
            }


            .contact-img {
                img{
                    width: 100%;
                }
            }
        }
    }

}

footer {
    background-color: $main-yellow;
    color: #fff;


}