@font-face {
  font-family: genjyuu-b;
  src: url(../font/GenJyuuGothic-Bold.ttf);
}

@font-face {
  font-family: genjyuu-m;
  src: url(../font/GenJyuuGothicL-Medium.ttf);
}

@font-face {
  font-family: logo-rounded;
  src: url(../font/Corporate-Logo-Rounded.ttf);
}

@font-face {
  font-family: skia;
  src: url(../font/Skia.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  list-style: none;
  font-family: "genjyuu-m";
}

header {
  position: relative;
}

header .menu {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
  z-index: 999;
}

header .menu .menu-line {
  height: 3px;
  width: 40px;
  background-color: #ffdb00;
}

header .menu .menu-line:nth-child(2) {
  margin-top: 10px;
}

header .menu .menu-line:nth-child(3) {
  margin-top: 10px;
}

header .banner {
  background-image: url(../img/banner.png);
  background-size: cover;
  background-position: center;
  height: 1000px;
  position: relative;
}

header .banner .banner-title {
  position: absolute;
  right: 50px;
  top: 600px;
  text-align: center;
}

header .banner .banner-title h1 {
  font-size: 100px;
  color: #fff;
}

header .banner .banner-title .eng-name {
  font-size: 50px;
  color: #fff;
}

header .banner .banner-title .eng-name .line {
  display: inline-block;
  top: 20px;
  height: 1px;
  width: 160px;
  vertical-align: middle;
  background-color: #fff;
}

header .banner .banner-title .job-title {
  font-size: 40px;
  color: #202020;
  font-family: "logo-rounded";
  letter-spacing: 0.5px;
  text-shadow: #fff 1px 1px 3px;
}

main .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

main .section-title-r {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 150px;
  right: -100px;
}

main .section-title-r .h3 {
  font-size: 3.5rem;
  color: #ffdb00;
  display: block;
}

main .section-title-r .h3 .line-y {
  display: inline-block;
  top: 20px;
  height: 1px;
  width: 160px;
  vertical-align: middle;
  background-color: #ffdb00;
}

main .section-title-l {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 150px;
  left: -100px;
}

main .section-title-l .h3 {
  font-size: 3.5rem;
  color: #ffdb00;
  display: block;
}

main .section-title-l .h3 .line-y {
  display: inline-block;
  top: 20px;
  height: 1px;
  width: 160px;
  vertical-align: middle;
  background-color: #ffdb00;
}

main .year {
  margin-left: 20px;
}

main .year img {
  width: 100px;
}

main .bg-yellow {
  background-color: #ffdb00;
  display: inline-block;
  padding: 10px 30px;
}

main .bg-yellow .place {
  margin-right: 10px;
}

main .bg-yellow .status {
  color: #fff;
}

main .row.exp {
  position: relative;
}

main .row.exp .section-title-r {
  position: absolute;
  top: 150px;
  right: -100px;
}

main .row.exp .exp-list {
  position: relative;
}

main .row.skill {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .row.skill .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .row.works {
  display: block;
  position: relative;
}

main #contact {
  background-color: #ffdb00;
}

main #contact .row.contact {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main #contact .row.contact .section-title-l .h3 {
  color: #fff;
}

main #contact .row.contact .section-title-l .h3 .line-y {
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */