@font-face {
  font-family: genjyuu-b;
  src: url(../font/GenJyuuGothic-Bold.ttf);
}

@font-face {
  font-family: genjyuu-m;
  src: url(../font/GenJyuuGothicL-Medium.ttf);
}

@font-face {
  font-family: logo-rounded;
  src: url(../font/Corporate-Logo-Rounded.ttf);
}

@font-face {
  font-family: skia;
  src: url(../font/Skia.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  list-style: none;
  font-family: "genjyuu-m";
}

header {
  position: relative;
}

header .menu {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
  z-index: 999;
}

header .menu .menu-line {
  height: 3px;
  width: 40px;
  background-color: #ffdb00;
}

header .menu .menu-line:nth-child(2) {
  margin-top: 10px;
}

header .menu .menu-line:nth-child(3) {
  margin-top: 10px;
}

header .banner {
  position: relative;
}

header .banner .banner-title {
  position: absolute;
  right: 30px;
  bottom: 90px;
  text-align: center;
}

header .banner .banner-bg img {
  width: 100vw;
}

header .banner h1 {
  font-size: 6rem;
  color: #fff;
}

header .banner .eng-name {
  font-size: 3rem;
  color: #fff;
}

header .banner .eng-name .line {
  display: inline-block;
  top: 20px;
  height: 1px;
  width: 160px;
  vertical-align: middle;
  background-color: #fff;
}

header .banner .job-title {
  font-size: 40px;
  color: #202020;
  font-family: "logo-rounded";
  letter-spacing: 0.5px;
  text-shadow: #fff 1px 1px 3px;
}

main section {
  padding: 50px 0;
  margin-top: 30px;
}

main .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

main .section-title-r {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 150px;
  right: -100px;
}

main .section-title-r .h3 {
  font-size: 3.5rem;
  color: #ffdb00;
  display: block;
}

main .section-title-r .h3 .line-y {
  display: inline-block;
  top: 20px;
  height: 1px;
  width: 160px;
  vertical-align: middle;
  background-color: #ffdb00;
}

main .section-title-l {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 150px;
  left: -150px;
}

main .section-title-l .h3 {
  font-size: 3.5rem;
  color: #ffdb00;
  display: block;
}

main .section-title-l .h3 .line-y {
  display: inline-block;
  top: 20px;
  height: 1px;
  width: 160px;
  vertical-align: middle;
  background-color: #ffdb00;
}

main .year {
  margin-left: 20px;
}

main .year img {
  width: 100px;
}

main .bg-yellow {
  background-color: #ffdb00;
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 8px;
}

main .bg-yellow .status {
  margin-right: 10px;
  color: #fff;
}

main .row.exp {
  position: relative;
}

main .row.exp .exp-list {
  position: relative;
  height: 450px;
}

main .row.exp .exp-list .exp-item {
  position: absolute;
}

main .row.exp .exp-list .exp-item p {
  display: inline-block;
  margin-left: 20px;
}

main .row.exp .exp-list .exp-item ul {
  margin-left: 30px;
}

main .row.exp .exp-list .exp-item:nth-child(2) {
  top: 150px;
  left: 200px;
}

main .row.exp .exp-list .exp-item:nth-child(3) {
  top: 300px;
  left: 380px;
}

main .row.skill {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .row.skill .h3 .line-y {
  width: 100px;
}

main .row.skill .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .row.skill .skill-item .skill-list .title {
  font-size: 1.2rem;
  letter-spacing: 3px;
  margin-bottom: 20px;
  background: url(../img/bottom-line-y.svg) repeat-x center bottom;
  background-size: .75rem;
}

main .row.skill .skill-item .skill-list .skill-icon {
  margin-left: -10px;
}

main .row.skill .skill-item .skill-list .skill-icon img {
  width: 70px;
  margin: 10px;
}

main .row.skill .skill-item .skill-list .skill-txt {
  margin-top: 30px;
}

main .row.skill .skill-item .skill-list .skill-txt span img {
  width: 30px;
}

main .row.works {
  position: relative;
  margin-bottom: 100px;
}

main .row.works .works-list .filter {
  font-size: 1.2rem;
}

main .row.works .works-list .filter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main .row.works .works-list .filter ul li {
  padding: 0 30px;
}

main .row.works .works-list .filter ul li.active::after {
  content: '';
  background-image: url(../img/bottom-line-y.svg);
  width: 150%;
  height: 10px;
  display: block;
  margin-top: -0.5rem;
  margin-left: -30px;
}

main .row.works .works-list .my-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .row.works .works-list .my-works .work {
  margin: 30px auto;
}

main .row.works .works-list .my-works .work .work-item {
  position: relative;
}

main .row.works .works-list .my-works .work .work-item:hover .hover {
  display: block;
}

main .row.works .works-list .my-works .work .work-item .hover {
  display: none;
}

main .row.works .works-list .my-works .work .work-item .hover .details {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffdb0080;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2rem;
}

main .row.works .works-list .my-works .work .work-item .hover .details .cata::after {
  content: '';
  height: 1px;
  width: 80%;
  background-color: #fff;
  display: block;
  margin: 0 auto;
}

main .row.works .works-list .my-works .work .work-item img {
  width: 100%;
}

main #contact {
  background-color: #ffdb00;
  position: relative;
  height: 700px;
  width: 100vw;
}

main #contact::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 100vw;
  border-color: transparent transparent #ffdb00 transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #ffdb00;
  border-left-color: transparent;
  position: absolute;
  left: 0;
  top: -100px;
}

main #contact .row.contact {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main #contact .row.contact .section-title-l .h3 {
  color: #fff;
}

main #contact .row.contact .section-title-l .h3 .line-y {
  background-color: #fff;
}

main #contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #contact .contact-info .info {
  color: #fff;
  font-size: 1.2rem;
}

main #contact .contact-info .info .my-name {
  font-size: 1.8rem;
  margin-right: 10px;
}

main #contact .contact-info .info a {
  color: #fff;
}

main #contact .contact-info .contact-img img {
  width: 100%;
}

footer {
  background-color: #ffdb00;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */